<IfModule mod_rewrite.c>
   RewriteEngine On

   # Exclude existing files and directories from the rewrite
   RewriteCond %{REQUEST_FILENAME} -f [OR]
   RewriteCond %{REQUEST_FILENAME} -d
   RewriteRule ^ - [L]

   # Redirect everything else to default.php
   RewriteRule ^(.*)$ default.php [L,QSA]
</IfModule>
